/* font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body {
    font-family: "Nanum Gothic Coding", monospace;
}

/* 네비게이션 영역 */
.navbar {
    margin-bottom: 20px;
}

.nav-link:hover,
.nav-link.active {
    color: #ffc107 !important;
}

/* 주변시설 섹션 */
#other {
    margin-top: 70px;
}

/* 카드 간격 조정 */
#other .card {
    margin-bottom: 20px;
}
